body{
	font: 15px/1.5 Arial, Helvetica,sens-serif;
	padding: 0px;
	margin: 0px;
	background-color:#f4f4f4;; 
}

/* global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

ul li{
	text-align: center;
	position:;
	float: left;
}
ul li a{
	text-decoration: none;
	display:block;
}
ul li a:hover{
}
ul ul{
	position:absolute;
	display:none;
}
ul li:hover>ul{
	display:block;
}

.button_3{
	height:70px;
	background:#00008B;
	border:1px;
	padding-left:20px;
	padding-right:20px;
	color:#ffffff;
	width:100%;
}

.button_4{
	height:70px;
	background:#00FF00;
	border:1px;
	padding-left:20px;
	padding-right:20px;
	color:#ffffff;
	width:100%;
	}

.button_1{
	height:38px;
	background:#e8491d;
	border:1px;
	padding-left:20px;
	padding-right:20px;
	color:#ffffff;
}

.button_2{
	height:42px;
	background:#000080;
	border:1px;
	padding-left:20px;
	padding-right:20px;
	color:#ffffff;
}

.dark{
	padding:15px;
	background:#35424a;
	color:#ffffff;
	margin-top:10px;
	margin-bottom:10px;
}
/* header **/
header{
	background:#ffffff;
	color:#000000;
	padding-top:30px;
	min-height:70px;
	border-bottom:#ffffff 3px solid;
}

header a{
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline-block;
	padding: 0 20 0 20;
}

header #branding{
	float:;
}

header #branding h1{
	margin:0px;
	text-align:right;
	font-size:35px;
}

header nav{
	float:right;
	margin-top: 5px;
}

header .highlight, header .current a{
	color:#000080;
	font-weight: bold;
}
header .highlight1, header .current a{
	color:#e8491d;
	font-weight: bold;
}
header a:hover{
	color:#000026;
	font-weight:bold;
}

/* showcase */
#showcase{
	min-height:400px;
	background:url('../image/111.jpg')  no-repeat ; 
	text-align: center;
	
	background-size:100%;
}

#showcase h1{
	margin-top:100px;
	font-size:70px;
	margin-bottom:10px;
	color:#8cb4cd;
}

#showcase p{
	font-size:30px;
	color:#ffffff;
}

/* newsletter */
#newsletter{
	padding:15px;
	color:#000000;
	background:#ffffff;
	text-align:center;
}

#newsletter h1{
text-align:center;
font-size:35px;
}

#newsletter p{
	font-size:15px;
	text-align:center;
}

/* Boxes */
#boxes{
	margin-top:20px;
}

#boxes .box{
	float:left;
	width:30%;
	padding:10px;
	text-align:center;
}

#boxes .box img{
	width:90px;
}

/* asidebar */
asidebar#sidebar{
	float:right;
	width:30%;
	margin-top:10px;
}

/* main-col */
article#main-col{
	float:left;
	width:65%;
}
#take{
	text-align:center;
	background-color:#000026;
	padding-top:5px;
	color:#ffffff;
	padding-bottom:5px;
}
#take h1{
	font-size: 35px;
}

#stb{
	text-align:center;
	padding-top:5px;
}
#event{
	padding-top:5px;
	padding-left:5px;
	text-align:center;
}
#event h1{
	font-size: 35px;
}

#showcase1{
	min-height:300px;
	background:url('../image/cmt.png')  no-repeat ; 
	text-align: center;
	background-size:100%;
}

#showcase1 h1{
	margin-top:80px;
	font-size:35px;
	margin-bottom:5px;
	color:#000000;
	}

	#showcase1 p{
	font-size:20px;
	color:#000000;
}
.button_5{
	height:42px;
	background:#000080;
	border:1px;
	padding-left:20px;
	padding-right:20px;
	color:#ffffff;
}
footer{
	padding:20px;
	margin-top:20px;
	color:#ffffff;
	background-color:#000080;
	text-align:center;
}